.container
  %h2 Teams #{link_to 'New Team', new_team_path, class: 'btn btn-success' if user_signed_in?}
  %table.table.table-hover
    %thead
      %tr
        %th Avatar
        %th Name
        %th Created_at
        %th Owner
        %th Menu
    %tbody
      %tbody
        - @teams.each do |team|
          %tr
            %td= image_tag team.image.url(:thumb_200), class:'img_value' if team.image?
            %td= team.name
            %td= I18n.localize team.created_at, format: :my_time
            %td Тут будет создатель
            %td
              = link_to 'About Team', team_team_members_path(team), class: 'btn btn-warning'
              = link_to 'Edit', edit_team_path(team), class: 'btn btn-primary'
              = link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
