.container
  %h2 Tournaments #{link_to 'New Tournament', new_tournament_path, class: 'btn btn-success' if user_signed_in?}
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Registred players
        %th Playrуs
        %th Status
        %th Menu
    %tbody
      %tbody
        - @tournaments.each do |tournament|
          %tr
            %td= tournament.name
            %td зареганые участники
            %td= link_to 'Participants', tournament_tournament_members_path(tournament), class: 'btn btn-warning'
            %td= link_to 'СобытиеСобытиеСобытиеСобытие', new_team_path, class: 'btn btn-primary btn-block'
            %td
              = link_to 'Edit', edit_tournament_path(tournament), class: 'btn btn-primary'
              = link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
